.abt-heading h1 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 32px;
  font-weight: 500;
}
.abt-heading p {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 22px;
}

.abt-heading h2 {
  font-size: 26px;
  font-weight: 500;
}

.about-section {
  margin: 0 5rem;
  padding: 120px 4rem;
  position: relative;
  margin-bottom: 10rem;
}
.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.about-section .content-column {
  width: 70%;
}

.about-section .content-column .inner-column {
  position: relative;
  padding-top: 50px;
  padding-right: 100px;
}

.about-section .content-column .text {
  position: relative;
  color: #777777;
  font-size: 15px;
  line-height: 2em;
  margin-bottom: 40px;
}

.about-section .image-column {
  width: 35%;
}

.about-section .image-column .inner-column {
  position: relative;
  padding: 40px 40px 0px 0px;
  margin-left: 50px;
  width: 400px;
  padding-bottom: 2rem;
}

.about-section .image-column .inner-column:after {
  position: absolute;
  content: "";
  right: 0px;
  top: 0px;
  left: 40px;
  bottom: 100px;
  z-index: -1;
  border: 3px solid hsl(21, 97%, 53%);
}

.about-section .image-column .inner-column .image {
  position: relative;
}

.about-section .image-column .inner-column .image:before {
  position: absolute;
  content: "";
  left: -50px;
  bottom: -50px;
  width: 100%;
  height: auto;
}

.about-section .image-column .inner-column .image img {
  position: relative;
  width: 350px;
  display: block;
  height: 100%;
}

.about-section .btn-style-three:hover {
  color: #ffffff;
  background: #1b5388;
}

.about-section .btn-style-three {
  position: relative;
  line-height: 24px;
  color: #252525;
  font-size: 15px;
  font-weight: 700;
  background: none;
  display: inline-block;
  padding: 11px 40px;
  background-color: #ffffff;
  text-transform: capitalize;
  border: 3px solid #1b5388;
  font-family: "Arimo", sans-serif;
}
.sec-title2 {
  color: #fff;
}
.sec-title {
  position: relative;
  padding-bottom: 40px;
}
.sec-title .title {
  position: relative;
  color: #d7a449;
  font-size: 18px;
  font-weight: 700;
  padding-right: 50px;
  margin-bottom: 15px;
  display: inline-block;
  text-transform: capitalize;
}
.sec-title .title:before {
  position: absolute;
  content: "";
  right: 0px;
  bottom: 7px;
  width: 40px;
  height: 1px;
  background-color: #bbbbbb;
}
