.contact_body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  
}

.contct_container {
  color: #000;
}

.contct_container .cont_h2 {
  margin: 1rem;
  margin-left: 5rem;
  margin-bottom: 3rem;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
}

.contct_wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-gap: 30px;
  gap: 30px;
}

.contct_wrapper .contct_box {
  width: 100%;
  position: relative;
  padding: 20px;
  margin-left: 60px;
}

.contct_wrapper .contct_box input {
  width: 100%;
  font-size: 20px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #000;
  /* transition:0.5s */
}

.contct_wrapper .contct_box input:focus ~ label {
  transform: translateY(-32px);
}

.contct_wrapper .contct_box label {
  position: absolute;
  top: 0;
  left: 0;
  color: #727171;
  font-size: 14px;
  font-weight: 400;
  padding: 20px;
  transition: 0.5s;
  display: inline-block;
  pointer-events: none;
}

.contct_wrapper .contct_box textarea {
  width: 480px;
  height: 240px;
  background: transparent;
  border: 1px solid #000;
  font-weight: 400;
  padding: 20px;
  float: left;
  margin-left: 42rem;
  margin-top: -260px;
}

.contct_wrapper .contct_box textarea:focus ~ .label-text-msg {
  transform: translateY(-48px);
}

.label-text-msg {
  margin-left: 44rem;
  margin-top: -240px;
  display: block;
  width: 100%;
  resize: vertical;
  line-height: normal;
  transition: 0.5s;
  /* margin:15px 0px 0px 20px;  */
}

.contact-submit-btn {
  margin-left: 3rem;
  border: none;
  display: flex;
  flex-direction: row;
  padding: 10px 20px;

  font-size: 16px;
  font-weight: bold;
  /* text-transform: uppercase; */
  cursor: pointer;
}

.cont_submit {
  margin-right: 1rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px 20px;
  gap: 10px;

  width: 116px;
  height: 47px;
  left: 397px;
  top: 767px;
  border: none;
  background: #67afef;
  border-radius: 5px;
  font-size: 22px;
  line-height: 27px;
  /* identical to box height */

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.contact_submit1 {
  margin-left: 1rem;
  display: flex;

  align-items: center;
  padding: 10px 20px;
  gap: 10px;
  background: #1b5e88;
  border-radius: 5px;
  width: auto;
  height: auto;
  left: 593px;
  top: 767px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  border: none;
  /* identical to box height */

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.checkbox-data {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}

.contct_box {
  margin-bottom: 15px;
}

.checkbox-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-left: 5rem;
}

.checkbox-label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.checkbox-label input {
  margin-right: 10px;
}
