.snip-heading h1 {
  text-align: left;
  margin-top: 5rem;
  margin-bottom: 2rem;
  font-size: 32px;
  font-weight: 500;
}
.snip-heading p {
  text-align: left;
  margin-bottom: 2rem;
  font-size: 22px;
}


