@import url(https://fonts.googleapis.com/css?family=Lato:400,600,700);
.snip1527 {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  font-family: "Lato", Arial, sans-serif;
  font-size: 16px;
  margin: 10px;
  max-width: 310px;
  min-width: 250px;
  overflow: hidden;
  position: relative;
  text-align: left;
  width: 100%;
}

.lower_desc-paddding {
  padding-bottom: 2rem;
  padding-top: 2rem;
}
.snip-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px 4rem;
}

.snip1527 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.snip1527 img {
  max-width: 100%;
  vertical-align: top;
  position: relative;
}

.snip1527 figcaption {
  padding: 35px 20px 25px;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.snip1527 figcaption:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000000;
  content: "";
  background: -moz-linear-gradient(
    90deg,
    #000000 0%,
    #000000 100%,
    #000000 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    #000000 0%,
    #000000 100%,
    #000000 100%
  );
  background: linear-gradient(90deg, #000000 0%, #000000 100%, #000000 100%);
  opacity: 0.8;
  z-index: -1;
}

.snip1527 h3,
.snip1527 p {
  margin: 0;
  padding: 0;
}

.snip1527 h3 {
  color: hsl(21, 97%, 53%);
  display: inline-block;
  font-weight: 700;
  letter-spacing: -0.4px;
  margin-bottom: 1rem;
  font-size: 20px;
}

.snip1527 p {
  font-size: 0.8em;
  line-height: 1.6em;
  margin-bottom: 0px;
}

.snip1527 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

.snip1527:hover img,
.snip1527.hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
