@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");

.consult-header-banner {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.consult-header-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(39, 30, 170, 0.6);
  z-index: 1;
  max-width: 600px; 
}

.consult-header-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.consult-header-content {
  margin-left: 10rem;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 20px;
  color: #fff;
  z-index: 2;
}

.consult-header-heading-tag {
  margin: 0;
  margin-bottom: -8px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 13px;
  text-transform: uppercase;
}

.consult-header-title {
  font-family: "Antonio", sans-serif;
  font-size: 52px;
  margin: 10px 0;
  margin-bottom: 1rem;
}

.consult-header-title span {
  color: #000000;
}

.consult-header-bottom-tag {
  text-align: start;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  font-weight: 400;
  display: inline-block;
}

.consult-header-bottom-button {
  margin-top: 22px;
  padding: 10px 20px;
  background-color: hsl(21, 97%, 53%);
  cursor: pointer;
  display: flex;
}

.consult-header-bottom-button button {
  text-align: center;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}
.consult-header-bottom-button:hover {
  background-color: hsl(21, 97%, 40%);
  font-weight: 800;
  font-size: 54px;
}
